*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";    
}

/**Boot CSS**/

html,body {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    max-width: 300px;
}
.center {
    max-width: 1280px;
    padding: 0 2%;
    margin: 0 auto;
}

.w33 {
    width: 33.3%;
    padding: 0 10px;
}

.w50 {
    padding: 0 10px;
    width: 50%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

/**Estilização do site**/
.sucesso {
    display: none;
    position: fixed;
    right: 1px;
    top: 65px;
    padding: 15px 2%;
    z-index: 999;
    color: #008000;
    font-weight: bold;
    font-size: 14px;
    background: #DFF2BF;
}

.overlay-loading{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.4);
}

.overlay-loading img {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

header {
    padding: 20px 0;
    background: #3D437A;
}

header .logo {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;    
}

.logo a {
    text-decoration: none;
    color: white;
}

.mobile {
    display: none;
}

nav.desktop ul {
    position: relative;
    top: 2px;
    list-style-type: none;
}

nav.desktop li {
    font-weight: 300;
    font-size: 15px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a {    
    color: white;
    text-decoration: none;
}

nav.desktop a:hover {
    text-decoration: underline;
}

/**********FIM HEADER**********/

section.banner-container {
    width: 100%;
    height: 550px;
    position: relative;
}

.banner-single {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;    
    height: 100%;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(51,51,51,0.5);
}

section.banner-container form {
    width: 90%;
    max-width: 600px;
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
}

section.banner-container form h1 {
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}

section.banner-container form p {
    color: white;    
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

section.banner-container form input[type=email] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: white;
    color: #333;
    font-size: 22px;
    text-align: center;
    border: 0;
}



section.banner-container form input[type=submit] {
    width: 100%;
    height: 66px;
    margin-top: 10px;
    background: #00C59E;
    color: white;
    cursor: pointer;
    font-size: 22px;
    border: 0;
}
/***********FIM BANNER CONTAINER**********/

section.descricao-autor {
    padding: 40px 0;
}

section.descricao-autor h2 {
    font-size: 30px;
    font-weight: 300;
    color: #444;
    text-align: center;
}

section.descricao-autor ul {
    font-size: 16px;
    color: #444;
    font-weight: 300;
    margin-top: 10px;
    margin-left: 55px;
}

section.descricao-autor ul li {
    padding: 5px;
}
/**********FIM DESCRIÇÃO AUTOR*********/

section.especialidades {
    padding: 40px 0;
    background: #E2E2E2;
}

section.especialidades h2.title {
    font-size: 30px;
    text-align: center;
    font-weight: 400;
    color: #999;
}

.box-especialidade {
    margin: 40px 0;
    
}

.designer {
    padding: 10px 0;
    border: 5px solid white;
}

.box-especialidade h3 {    
    color: #404580;
    font-size: 40px;
    text-align: center;
}

.box-especialidade h4 {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    color: #BABABA;
}

section.especialidades ul {
    padding-top: 10px;
    margin-left: 35px;
    list-style: none;
    font-size: 16px;
    color: #444;
    font-weight: 300;
}

section.especialidades ul li {
    padding: 5px 0;    
}

.btn-site {
    border-radius: 15px;
    text-transform: uppercase;
    border: 3px solid rgb(187, 182, 182);    
    background: #1d214e;
    padding: 10px 80px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 80px;
}
/*****FIM ESPECIALIDADES*******/

section.extras {
    padding: 30px 0;
    background: #404580;
}

.servicos-container, .depoimentos-container {
    padding: 0 50px;
}

section.extras .title {
    color: white;
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 15px;
}

.depoimento-single {
    padding: 15px 0;
    border-bottom: 1px solid #5056A0;
}

p.depoimento-descricao {
    font-size: 15px;
    color: white;
    font-weight: 300;
}

p.nome-autor {
    font-size: 15px;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.servicos {
    margin: 20px 0;
}

.servicos li {
    margin-bottom: 15px;
    font-size: 15px;
    color: white;
    font-weight: 300;
}

.btn-portfolio {
    border-radius: 15px;
    text-transform: uppercase;
    border: 3px solid #ccc;    
    background: #1d214e;
    padding: 20px 80px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 100px;    
}

button a {
    text-decoration: none;
    color: white;
}

footer {
    background: #313462;
    padding: 10px 0;
}

footer.fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
}
/******FIM FOOTER*****/




section.erro-404 h2 {    
    text-align: center;   
    color: #444;
    font-weight: 400;
    font-size: 28px;
    border-top: 2px solid #444;
}



section.erro-404 p {
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
    color: #444;
    font-weight: 300;
}

section.erro-404 a {
    color: #444;
}

.wraper-404 {
    transform: translate(-50%,-50%);
    width: 100%;
    left: 50%;
    padding: 0 2%;
    max-width: 1280px;
    text-align: center;
    position: absolute;
    top: 50%;
}


#map {
    width: 100%;
    height: 400px;
}

.contato-container{
    padding: 40px 0;
    text-align: center;
}

.contato-container input[type=text] {
    margin: 8px 0;
    width: 100%;
    height: 40px;
    border: 1px solid #444;
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    color: #444;
}

.contato-container textarea {
    padding: 8px;
    margin: 8px 0;
    width: 100%;
    height: 120px;
    border: 1px solid #444;
    padding-left: 8px;
    font-size: 16px;
    max-width: 700px;
    resize: vertical;
    color: #444;
}

.contato-container input[type=submit] {
    background: #00C59E;
    width: 140px;
    height: 40px;
    color: white;
    border: none;
    cursor: pointer;
}

.container-whatsapp {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    bottom: 50px;
    right: -9px;
    padding: 10px;
    min-width: 40px;
    min-height: 40px;
    z-index: 9999;
    }
    .container-whatsapp .btn-whatsapp {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        text-decoration: none;
        background-color: #29ae81;
    }
    .container-whatsapp .btn-whatsapp i {
        font-size: 2rem;
        color: #ffffff;
    }
    .container-whatsapp .btn-whatsapp:hover {
        background-color: #1E8865;
        border: 2px solid #ffffff;
    }

.bullets{
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 5;
}

.bullets span{
	margin:0 10px;
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	cursor: pointer;
	background-color: #444;
}

.bullets span.active-slider{
	background: white;
}



@media screen and (max-width: 768px) {
    img {
        float: none !important;
        display: block;
        margin: 0 auto;        
    }
    
    .w50 {
        padding: 20px;
        width: 100%;
    }

    .w33 {
        width: 100%;
        padding: 20px;
    }

    section.banner-container {
        
        height: 470px;
        
    }

    section.especialidades ul {        
        margin-left: 50px;       
    }

    section.especialidades h2.title {
        padding-bottom: 20px;
    }

    .btn-site{
        margin: 15px 100px 0;
        
    }

    .box-especialidade {
        padding: 20px 20px;
        margin: 0;
    }

    section.extras .title {
        text-align: center;
    }

    .btn-portfolio {
    
        padding: 20px 100px;
        text-transform: uppercase;
        margin-top: 40px;
        margin-left: 32px;    
    }
}



@media screen and (max-width: 700px) {

    header .logo {
        padding-top: 6px;
    }
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
    }

    .botao-menu-mobile {
        font-size: 24px;
        cursor: pointer;
        color: white;
    }

    nav.mobile ul {
        z-index: 3;
        position: absolute;
        left: 0;
        top: 73px;
        width: 100%;
        display: none;
        text-align: center;
    }

    nav.mobile li {
        font-weight: 300;
        width: 100%;
        display: block;
        width: 100%;
        display: block;
        background: white;
        border-bottom: 1px solid #ccc;
        font-size: 17px;
        padding: 8px 0;
    }

    nav.mobile li a {
        display: block;
        color: #444;
        text-decoration: none;
    }

    section.descricao-autor h2 {
        text-align: center;
        padding-bottom: 15px;
    }
}








